.login-page {
    background-color: white;
    width: 50%;
    margin: auto;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%; 
    padding-bottom: 1%;
}

.d-none{
    display: none;
}

.warning{
    color: red;
}

.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
}

.download-btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 5px 15px;
    font-size: 10px;
    cursor: pointer;
    font-size: 14px;
}